Repository RubenSmn/react-generic-skeleton: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, prettier --write

.lintstagedrc:

{
  "**/*.{ts,tsx,js,jsx}": [
    "yarn lint",
    "prettier --write"
  ],
  "**/*.{md,mdx,yml,json,babelrc,eslintrc,prettierrc}": [
    "prettier --write"
  ]
}

chore: remove fix flag
  .lintstagedrc
Due: none

feat: add missing css classes
  src/index.css
Due: none

chore: update author
  package.json
Due: prettier --write

chore: update packagejson
  package.json
Due: prettier --write

chore: add project tsconfig
  .eslintrc
Due: prettier --write

fix(utils): empty className
  src/utils/element.ts
Due: yarn lint, prettier --write

fix(utils): no animation when trying to add custom duration prop
  src/utils/element.ts
Due: yarn lint, prettier --write

chore: add eslintignore
  .eslintignore
Due: none

chore: add dark theme for storybook
  .storybook/manager.ts
  package.json
  yarn.lock
Due: yarn lint, prettier --write

fix(utils): animation not working with empty config object
  src/utils/element.ts
Due: yarn lint, prettier --write

docs: update readme
  README.md
Due: prettier --write

docs: update explanation
  README.md
Due: prettier --write

chore: add np config
  .np-config.json
Due: prettier --write

chore: reset version number
  package.json
Due: prettier --write

v0.1.0
  package.json
Due: prettier --write

chore: remove src from files
  package.json
Due: prettier --write

v0.1.1
  package.json
Due: prettier --write

feat(stories): add page layout for docs
  .eslintignore
  .storybook/main.ts
  package.json
  stories/ImageSkeleton.stories.tsx
  stories/ListSkeleton.stories.tsx
  stories/PageLayout.tsx
  stories/TextSkeleton.stories.tsx
  yarn.lock
Due: yarn lint, prettier --write

docs: add description for props
  src/SkeletonWrapper.tsx
  src/skeletons/ImageSkeleton.tsx
  src/skeletons/ListSkeleton.tsx
  src/skeletons/TextSkeleton.tsx
Due: yarn lint, prettier --write

feat: add loading state to page
  stories/ImageSkeleton.stories.tsx
  stories/ListSkeleton.stories.tsx
  stories/PageLayout.tsx
  stories/TextSkeleton.stories.tsx
Due: yarn lint, prettier --write

docs(wrapper): update description syntax
  src/SkeletonWrapper.tsx
Due: yarn lint, prettier --write

feat(wrapper): add story
  stories/SkeletonWrapper.stories.tsx
Due: yarn lint, prettier --write

chore(stories): group under components
  stories/ImageSkeleton.stories.tsx
  stories/ListSkeleton.stories.tsx
  stories/SkeletonWrapper.stories.tsx
  stories/TextSkeleton.stories.tsx
Due: yarn lint, prettier --write

refactor(image): rename round property to isRound
  src/skeletons/ImageSkeleton.tsx
  stories/ImageSkeleton.stories.tsx
Due: yarn lint, prettier --write

feat(image): add option to show/hide the placeholder
  src/skeletons/ImageSkeleton.tsx
  stories/ImageSkeleton.stories.tsx
Due: yarn lint, prettier --write

chore: move page layout
  stories/ImageSkeleton.stories.tsx
  stories/ListSkeleton.stories.tsx
  stories/SkeletonWrapper.stories.tsx
  stories/TextSkeleton.stories.tsx
  stories/components/PageLayout.tsx
Due: yarn lint, prettier --write

feat(stories): add props heading
  stories/components/PageLayout.tsx
Due: yarn lint, prettier --write

chore: add new docs branch
  README.md
Due: prettier --write

chore: add storybook workflow
  .github/workflows/storybook.yml
Due: prettier --write

chore: add build docs command
  package.json
Due: prettier --write

Deploying to docs from @ a10ad24af4e54a34fd5228700a641e2455379b32 🚀
  0.2980c2fdce54417e2dd7.manager.bundle.js
  0.2980c2fdce54417e2dd7.manager.bundle.js.LICENSE.txt
  0.3ee60dfe.iframe.bundle.js
  0.3ee60dfe.iframe.bundle.js.LICENSE.txt
  0.3ee60dfe.iframe.bundle.js.map
  1.8b4075bd.iframe.bundle.js
  1.ec7fa2df14488cd9a8e0.manager.bundle.js
  10.4202bd5b.iframe.bundle.js
  2.6a1e9316.iframe.bundle.js
  5.c8861e8ee40f7c623aba.manager.bundle.js
  5.c8861e8ee40f7c623aba.manager.bundle.js.LICENSE.txt
  6.82c768df333a3d5659f2.manager.bundle.js
  6.b4beee17.iframe.bundle.js
  6.b4beee17.iframe.bundle.js.LICENSE.txt
  6.b4beee17.iframe.bundle.js.map
  7.167be8dc902c717f21ce.manager.bundle.js
  7.82c81f44.iframe.bundle.js
  8.10634b2a.iframe.bundle.js
  8.2b76d9330b72c99a4370.manager.bundle.js
  8.2b76d9330b72c99a4370.manager.bundle.js.LICENSE.txt
  9.a9d9ded905ca49bc5058.manager.bundle.js
  9.f707eee6.iframe.bundle.js
  9.f707eee6.iframe.bundle.js.LICENSE.txt
  9.f707eee6.iframe.bundle.js.map
  README.md
  favicon.ico
  iframe.html
  index.html
  main.dabf433b713c06f3b722.manager.bundle.js
  main.e442d865.iframe.bundle.js
  project.json
  runtime~main.25bdb6e27dabe70c556b.manager.bundle.js
  runtime~main.9e65c306.iframe.bundle.js
  vendors~main.d57635b539bf4cd7e2cb.manager.bundle.js
  vendors~main.d57635b539bf4cd7e2cb.manager.bundle.js.LICENSE.txt
  vendors~main.efef657e.iframe.bundle.js
  vendors~main.efef657e.iframe.bundle.js.LICENSE.txt
  vendors~main.efef657e.iframe.bundle.js.map
Due: yarn lint, prettier --write

chore: add documentation link
  README.md
Due: prettier --write

Deploying to docs from @ 591254cf0d241ba1679ed718beebc2390d2a9579 🚀
  project.json
Due: prettier --write

ci: build docs only on relevant path changes
  .github/workflows/storybook.yml
Due: prettier --write

feat(utils): add merge and animation tests
  .eslintignore
  src/SkeletonProvider.tsx
  src/utils/element.ts
  test/utils/element.test.ts
  test/utils/element.test.tsx
Due: yarn lint, prettier --write

Deploying to docs from @ 2128e5251c6450ded28af372b5c7d6ef19fbb3e4 🚀
  project.json
Due: prettier --write

feat(utils): add style margin test
  test/utils/style.test.ts
Due: yarn lint, prettier --write

feat(utils): add check for no margins
  src/utils/style.ts
Due: yarn lint, prettier --write

Deploying to docs from @ 30ac589991bec2ba7a56042087c35585bc4fb95a 🚀
  iframe.html
  main.d1cd5b83.iframe.bundle.js
  main.e442d865.iframe.bundle.js
  project.json
  vendors~main.23a07b9e.iframe.bundle.js
  vendors~main.23a07b9e.iframe.bundle.js.LICENSE.txt
  vendors~main.23a07b9e.iframe.bundle.js.map
  vendors~main.efef657e.iframe.bundle.js
  vendors~main.efef657e.iframe.bundle.js.map
Due: yarn lint, prettier --write
